<div class="weather">
<form>
	<div class="form-group">
		<label for="guselect">검색할 지역을 선택하세요.</label>
		<select class="form-control" id="guselect" onchange="check_form()">
			<option value="" selected>-----</option>
			<option value="도봉구">도봉구</option>
			<option value="강남구">강남구</option>
			<option value="서초구">서초구</option>
			<option value="송파구">송파구</option>
			<option value="강북구">강북구</option>
			<option value="노원구">노원구</option>
			<option value="용산구">용산구</option>
			<option value="성북구">성북구</option>
			<option value="중랑구">중랑구</option>
			<option value="강동구">강동구</option>
			<option value="관악구">관악구</option>
			<option value="마포구">마포구</option>
			<option value="중구">중구</option>
			<option value="종로구">종로구</option>
			<option value="강서구">강서구</option>
		</select>
	</div>
	<div class="form-group">
		<button type="button" class="btn btn-lg btn-secondary disabled" id="weather-submit" onclick="get_weather()">알아보기</button>
	</div>
</form>
</div>
